<h5>This content should not be rendered because this route does an intermediate transition</h5>

<p>It should contain the content found in
  {{link-to 'this route'
    'fastboot.intermediate-transition-to.should-render-this-content'
  }}
</p>
