<h2 id="title">Ember Bugs</h2>

<ol>
  <li>
    {{link-to
      'Intermediate Transitions render the original page'
      'fastboot.intermediate-transition-to.when-you-vist-this-route'
    }}
  </li>
</ol>

<h2> Content of Child Routes </h2>
{{outlet}}
